%div{ "data-controller": "dynamic-form dynamic-select" }
  .row.mb-3
    .col
      = form.input :default_value,
        collection: parameter.values,
        label_method: :name, value_method: :value,
        input_html: { "data-dynamic-select-target": "select" }


  %div{ "data-dynamic-form-target": "body" }
    - if parameter.errors[:values].present?
      .alert.alert-danger= parameter.errors[:values].join(".")

    = form.simple_fields_for :values do |f|
      = render "parameters/details/value", f:

  - template_id = SecureRandom.uuid
  %template{ id: template_id }
    = form.simple_fields_for :values, [Parameter::Select::Value.new],
      child_index: "js_template_id" do |f|
      = render "parameters/details/value", f:

  %button.btn.btn-primary.mt-2{ data: { "template-id": "#{template_id}", action: "dynamic-form#add dynamic-select#reload" } }
    = t ".add"
