.card.mb-3{ "data-dynamic-form-target": "entry" }
  .card-body.p-2
    .card-title
      .float-end
        %a.delete.mb-4.ms-2{ href: "#", "data-action": "dynamic-select#delayedReload dynamic-form#remove" }
          %i.fas.fa-trash
    .card-text
      .row
        .col-8
          = f.input :name,
            input_html: { "data-dynamic-select-target": "names", "data-action": "blur->dynamic-select#reload" }
        .col-4
          = f.input :value,
            input_html: { "data-dynamic-select-target": "values", "data-action": "blur->dynamic-select#reload"}
