- if local_assigns[:fileable] && policy(fileable).edit? && policy(ActiveStorage::Attachment).create?
  = simple_form_for fileable.class.new, url: file_upload_path(fileable), class: "form-inline", wrapper: :dropzone_file  do |f|
    = f.input :files, as: :dropzone_file, input_html: { data: { multiple: true } }
- if files_exist
  .file-filters
    = form_with url: url, method: :get do |f|
      .row
        .col
          = f.text_field "name", class: "form-control col-sm-3 m-2",
            placeholder: "Name filter",
            value: params["name"]
        .col
          = f.select "file_type", Current.organization.data_file_types.map { |dft| [dft.name, dft.data_type] },
            { include_blank: "Filter by type", selected: params["file_type"] },
            class: "form-select col-sm-3 m-2"
        .col-2
          = f.submit "Filter", class: "btn btn-primary form-control col-sm-1 m-2"
    %table.table.table-striped
      %thead
        %tr
          %th= t "data_file.name"
          %th= t "data_file.data_type"
          %th= "Actions"
      %tbody
        = render partial: "storage/file", collection: files
