- data_file = DataFile.new(file, Current.organization)

%tr{id: dom_id(data_file.raw)}
  %td= link_to data_file.filename, url_for(data_file.raw), data: { turbo_prefetch: false }, target: "_blank"
  %td= data_file_types_str(data_file)
  %td= render "storage/actions", file: data_file.raw
