= form_with url: file_upload_path(id: path), class: 'form-inline' do |f|
  %label.visually-hidden{ for: 'exampleInputEmail3' } File
  = f.file_field :file
  %button.btn.btn-default{ type: 'submit' } Upload
