= turbo_frame_tag dom_id(@pipeline, "inputs") do
  = render 'storage/file_browser',
    files: @files,
    files_exist: @files_exist,
    fileable: @pipeline,
    url: pipeline_inputs_path(@pipeline.id)
