%h1
  = t(".title")
.card
  .card-body
    .col-md-3.col-sm-3.col-xs-12.profile_left
      .profile_img
        .avatar-view
          = image_tag Current.user.gravatar_url(size: 214)
        %h3= Current.user.name
    .col-md-9.col-sm-9.col-xs-12
      %ul.list-group.mb-4
        %li.list-group-item= t ".first_name", name: Current.user.first_name
        %li.list-group-item= t ".last_name", name: Current.user.last_name
        %li.list-group-item= t ".email", email: Current.user.email
        %li.list-group-item= t ".plgrid_login", login: Current.user.plgrid_login

      - if Current.organization.data_repository_config
        = render "memberships/form", data_repository_config: Current.organization.data_repository_config
