= simple_form_for Current.membership do |form|
  %ul.list-group.mb-4
    %li.list-group-item
      %p.text-bg
        = "#{t("profiles.show.data_repository.info")}:"
      %p.text-bg
        .badge.bg-info #{data_repository_config.type}
        %a.text-link{ href: "#{data_repository_config.url}" }= "(#{data_repository_config.url})"
      = form.input :data_repository_token, as: :showable_secret, label: t("profiles.show.data_repository.label"),
        hint: "#{t("profiles.show.data_repository.hint")}#{link_to(t("profiles.show.data_repository.manual_link"), help_page_path("manual", "data_repository"), class: "btn-link")}".html_safe
      = form.submit t("profiles.show.data_repository.submit"), class: "btn btn-sm btn-primary"