%h1 You have no access to this Organization
%h2
  Your have not been granted access to #{Current.organization.name} organization.
  %br
  Please check if you're a member of this organization in
  %a{ href: "https://portal.plgrid.pl/team/my-team-index" }
    your PLGrid teams
  or contact organization administrators.

= render "memberships/footer"
