.card.my-3
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %h2.card-title
      = link_to cohorts_path do
        %i.fa.fa-hospital
      \/
      = link_to cohort_path(@cohort) do
        = @cohort.name
    .row.me-1
      - if policy(@cohort).destroy?
        = button_to t("cohorts.show.remove"), cohort_path(@cohort),
          method: :delete,
          form: {"data-turbo-confirm": t("are_you_sure")},
          class: "btn btn-sm btn-danger m-0"
