%h1= t ".title"
%h2= t ".subtitle"
.card
  .card-header= "Create an empty cohort"
  .card-body
    = simple_form_for(@cohort) do |f|
      = f.input :name, autofocus: true
      .ln_solid
      .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
        = f.button :submit, t(".add"), class: "btn btn-success"
        = link_to t("cancel"), cohorts_path, class: "btn btn-secondary"
