%nav.navbar.navbar-light.navbar-expand-md.sticky-top.bg-secondary
  = link_to root_path,
    class: "navbar-brand",
    title: t(".subtitle", name: Current.organization.name) do
    - if Current.organization.logo.attached?
      = image_tag Current.organization.logo.variant(resize_to_limit: [30, 30])
    - else
      %i.fa.fa-heartbeat.logo
    = Current.organization.name.truncate(16)

  %button.navbar-toggler.d-md-none.collapsed{ type: "button",
    data: { "bs-toggle": "collapse", "bs-target": "#sidebar-menu" },
    "aria-controls": "sidebar-menu" }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse
    %ul.navbar-nav.ms-auto
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle.user-profile#user-dropdown{ href: "#",
          role: "button", "data-bs-toggle": "dropdown",
          "aria-haspopup": "true", "aria-expanded": "false" }
          = image_tag Current.user.gravatar_url(size: 29)
          = Current.user.name
        .dropdown-menu{ "aria-labelledby": "navbarDropdownMenuLink" }
          = link_to t(".profile"), profile_path, class: "dropdown-item"
          = button_to t(".logout"), logout_path,
            method: :delete, class: "dropdown-item"
