.row
  .col-md-6
    %h2 #{first.filename} (#{first.record.name})
  .col-md-6
    %h2 #{second.filename} (#{second.record.name})
.row
  .col-md-6
    %img.img-responsive{ src: url_for(first) }
  .col-md-6
    %img.img-responsive{ src: url_for(second) }
