%div{ "data-controller": "diff",
  "data-diff-first-value":  url_for(first),
  "data-diff-second-value": url_for(second),
  "data-diff-first-title-value": "#{first.filename} (#{first.record.name})",
  "data-diff-second-title-value": "#{second.filename} (#{second.record.name})",
  "data-diff-type-value": "html",
  "data-diff-target": "body" }
  .row
    .col-6
      %iframe{ data: { "diff-target": "firstHtmlComparison" }, class: "w-100", style: "height: 600px;" }
    .col-6
      %iframe{ data: { "diff-target": "secondHtmlComparison" }, class: "w-100", style: "height: 600px;" }
