= turbo_frame_tag @artifact.attachment do
  = simple_form_for(@artifact, as: :artifact, method: :patch, url: artifact_path) do |f|
    = f.input :filename
    = f.button :submit, "Update Artifact",  class: "btn btn-sm btn-success"
    = link_to t("cancel"), :back,
                        class: "btn btn-sm btn-secondary"
