= turbo_frame_tag @file, "actions" do
  = simple_form_for(@artifact, as: :artifact, method: :post, url: create_artifact_from_file_path) do |f|
    = f.input :filename
    %p.text-danger
      Warning: Creating an artifact with already existing name
      will overwrite existing artifact
    = f.button :submit, "Create Artifact", class: "btn btn-sm btn-success"
    = link_to t("cancel"), :back,
                        class: "btn btn-sm btn-secondary"
