- first, second = compare
- viewer = first.viewers.first
.card.mb-3
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %span
      = data_file_types_str(first)
      %small
        (#{link_to first.filename, url_for(first)} vs
        #{link_to second.filename, url_for(second)})
    .badge.bg-secondary.p-1= viewer
  .card-body
    = render "comparisons/viewers/#{viewer}",
      first: first, second: second, index: compare_iteration.index
