.card
  .row.g-0
    .col-7
      .card-body.m-5.text-center
        %h1.card-title= t ".title"
        %h2.card-title= t ".subtitle_html",
          first: link_to(first.name, first),
          second: link_to(second.name, second)

        = link_to runnable_path(runnable),
          class: "btn btn-success btn-lg my-3" do
          = t ".back"
        %p.card-text.mt-5= t ".description"
    .col-5
      = image_tag("empty.svg", class: "card-img p-5")
