.card.my-3
  .card-body.d-flex.justify-content-between.align-items-center.py-2
    %h2.card-title
      = render "runnables/organization_path", organization: runnable
      \/
      = link_to first_pipe.name, first_pipe
      vs
      = link_to second_pipe.name, second_pipe