.card.mb-2
  .card-header
    = data_file_type.name
    (<code>#{data_file_type.pattern_preview}</code>)
    - if data_file_type.viewer
      \: #{data_file_type.viewer}
    .float-end.d-inline-flex
      - if policy(data_file_type).edit?
        = link_to edit_data_file_type_path(data_file_type),
          title: t(".edit"), class: "edit me-2 pe-2 border-end" do
          %i.fas.fa-edit

      - if policy(data_file_type).destroy?
        = button_to data_file_type_path(data_file_type),
          form: { "data-turbo-confirm": t("are_you_sure") },
          method: :delete,
          title: t(".destroy"),
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash
