= simple_form_for(data_file_type) do |f|
  = f.error_notification
  .row
    .col-4.pe-5
      %h2= t ".general.title"
      %p.text-muted= t ".general.description_html"
    .col-8
      = f.input :data_type
      = f.input :name

  %hr
  .row.mt-4
    .col-4.pe-5
      %h2= t ".pattern.title"
      %p.text-muted= t ".pattern.description_html"
      = link_to t(".pattern.test_pattern"),
        "https://rubular.com/",
        class: "btn btn-primary btn-sm"
    .col-8
      = f.input :pattern

  %hr
  .row.mt-4
    .col-4.pe-5
      %h2= t ".viewer.title"
      %p.text-muted= t ".viewer.description"
    .col-8
      = f.input :viewer, collection: DataFileType.viewers

  %hr
  .row.mt-4
    .col-8.offset-4
      = link_to t("cancel"), data_file_types_path,
        class: "btn btn-secondary"
      = f.button :submit, class: "btn btn-success"
