- if @data_file_types.size.zero?
  = render "layouts/empty",
    scope: "data_file_types.empty",
    action_url: new_data_file_type_path,
    image: "dft.svg"

- else
  %h1
    .float-start
      = t ".title"
    .float-end
      = link_to new_data_file_type_path, class: "btn btn-success" do
        %i.fas.fa-plus
        = t ".add"
    .clearfix

  .card.mb-3
    .card-body
      = render @data_file_types
      -if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)
