= turbo_frame_tag dom_id(@computation, "actions") do
  - if @computation.step.persistent_errors_count.zero?

    - if policy(@computation).update? && policy(ActiveStorage::Attachment).create?
      = render "computations/run", pipeline: @pipeline, computation: @computation
    - if policy(@computation).abort?
      .row.justify-content-center
        = button_to t('computations.show.abort'),
                  computation_abort_path(@computation),
                  data: { "turbo-method": :post },
                  class: 'btn btn-warning mb-0'
  - else
    .alert.alert-error
      = t("steps.cannot_start_step", step: @computation.name.downcase)
