.card.mb-2
  .card-header
    .badge{ class: time_scope_button_class(allocation)}
      #{time_scope_button_text(allocation)}
    #{allocation.name} (#{allocation.starts_at} - #{allocation.ends_at}) :
    #{resource_types_names(allocation)}
    .float-end.d-inline-flex
      - if policy(allocation).edit?
        = link_to edit_admin_allocation_path(allocation),
          title: t(".edit"), class: "edit me-2 pe-2 border-end" do
          %i.fas.fa-edit

      - if policy(allocation).destroy?
        = button_to admin_allocation_path(allocation),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash
