= simple_form_for([:admin, allocation]) do |f|
  = f.error_notification
  .row
    .col-4.pe-5
      %h2= t ".general.title"
      %p.text-muted= t ".general.description"
      = link_to t(".general.new_grant"),
        "https://portal.plgrid.pl/bundle_categories",
        class: "btn btn-primary btn-sm"
    .col-8
      .row
        .col
          = f.input :name
          = f.association :resource_types,
            input_html: { data: { controller: "choices" } }
          = f.input :site_ids, label: "Sites", input_html: { data: { controller: "choices" } }, multiple: true, collection: Site.all
  %hr
  .row.mt-4
    .col-4.pe-5
      %h2= t ".validity.title"
      %p.text-muted= t ".validity.description"
    .col-8
      .row
        .col
          = f.input :starts_at, html5: true
        .col
          = f.input :ends_at, html5: true

  %hr
  .row.mt-4
    .col-8.offset-4
      = link_to t("cancel"), admin_allocations_path,
        class: "btn btn-secondary"
      = f.button :submit, class: "btn btn-success"
