.card.mb-2
  .card-header
    = link_to flow do
      %span
        = flow.name
    .float-end.d-inline-flex
      - if policy(flow).edit?
        = link_to edit_flow_path(flow),
          title: t(".edit"), class: "edit me-2 pe-2 border-end" do
          %i.fas.fa-edit

      - if policy(flow).destroy?
        = button_to flow_path(flow),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash

