- index = (local_assigns[:flow_step_counter].to_i + 1)

.card.mb-2.moveable{ "data-flow-steps-target": "step" }
  = form.simple_fields_for :flow_steps, flow_step,
    child_index: flow_step.id do |f|
    .card-header
      = f.hidden_field :step_id
      = f.hidden_field :position
      - if flow_step.id
        = f.hidden_field :_destroy

      %span.me-3.position
        = index
      %a.me-2.up{ href: "#", "data-action": "click->flow-steps#up" }
        %i.fas.fa-chevron-up
      %a.me-4.down{ href: "#", "data-action": "click->flow-steps#down" }
        %i.fas.fa-chevron-down
      = flow_step.step.name
      = f.input :wait_for_previous, as: :boolean, label: "Wait for previous computations"
