= simple_form_for flow,
  html: { "data-controller": "flow-steps" } do |f|
  = f.error_notification
  .row
    .col-4.pe-5
      %h2= t ".general.title"
      %p.text-muted= t ".general.description"

      = link_to t(".general.new_step"), new_step_path,
        class: "btn btn-primary btn-sm"
    .col-8
      = f.input :name
      = f.input :flow_steps, required: true do
        = steps_list(f, flow, steps, class: "form-control",
          data: { flow_steps_target: "list", controller: "choices" })

  %hr
  .row.mt-4
    .col-4.pe-5
      %h2= t ".steps.title"
      %p.text-muted= t ".steps.description"
    .col-8{ "data-flow-steps-target": "stepsContainer" }
      = render partial: "flow_step",
        collection: flow.flow_steps, locals: { form: f }

  %hr
  .row.mt-4
    .col-lg-4.pe-5
      %h2
        = f.label :description
    .col-lg-8
      .notes.form-control
        = f.rich_text_area :description

  %hr
  .row.mt-4
    .col-8.offset-4
      = link_to t("cancel"), flows_path, class: "btn btn-secondary"
      = f.button :submit, class: "btn btn-success"
