.card.my-3
  .card-body.d-flex.justify-content-between.align-items-center.py-2
    %h2.card-title
      = link_to flows_path do
        %i.fa.fa-sitemap
        \/
      = link_to flow_path(flow) do
        = flow.name
    %span.d-inline-flex
      - if policy(flow).edit?
        = link_to "Edit flow", edit_flow_path(flow),
          class: "btn btn-sm btn-secondary"
      - if policy(flow).destroy?
        = button_to "Remove flow", flow_path(flow),
          method: :delete, class: "btn btn-sm btn-danger",
          form: { "data-turbo-confirm": t("are_you_sure") }

