= turbo_stream_from @flow
= render "header", flow: @flow
.card.p-4
  %h1
    = @flow.name

  %h4 Steps
  %ul.list-unstyled
    - @flow.steps.each do |step|
      %li= step.name
  %h4 Description
  .card.p-4
    = @flow.description
