= prefix
- cache @pipeline, expires_in: 1.hour do
  - @pipeline.computations.each do |c|
    = link_to computation_path(c),
      class: c.status do
      = render(Computation::StatusComponent.new(computation: c))
