- unless git_config.nil?
  = simple_fields_for "#{module_type}[git_config_attributes]", git_config do |f|
    .row.mt-4
      .col-4.pe-5
        %p.text-muted= t "git_configs.#{git_config&.git_type}.description"
        - if field_required?(git_config, :private_token)
          = link_to t("git_configs.#{git_config&.git_type}.new_api_key"),
                  t("git_configs.#{git_config.git_type}.new_api_key_link"),
                  class: "btn btn-primary btn-sm", target: :_blank

        %p.text-muted.mt-4= t "git_configs.form.download_key"
      .col-8
        .row
          .col
            = f.input :host
          - if field_required?(git_config, :private_token)
            .col
              = f.input :private_token, as: :showable_secret
        .row
          .col
            = f.input :download_key_file, as: :file
        - if git_config.errors[:download_key].any?
          .row
            .col
              .alert.alert-error
                = "Download key"
                = git_config.errors[:download_key].first
        - else
          - if git_config.download_key_fingerprint
            .row
              .col
                .alert.alert-dark
                  %strong= t "git_configs.form.fingerprint"
                  = git_config.download_key_fingerprint
