%div{ data: { "controller": "switch", "switch": { "url-pattern-value": "#{git_config_url}/${value}" }}}
  .row.mt-4
    .col-4.pe-5
      = yield
    .col-8
      .row
        .col
          = simple_fields_for "#{module_type}[git_config_attributes]", git_config do |f|
            = f.input :git_type,
              collection: git_types,
              label: "Client type",
              include_blank: false,
              error: true,
              input_html: { data: { action: "change->switch#change", "switch-target": "changeSource" } }

  %div{ "data-switch-target": "body" }
    = render "git_configs/details", git_config:, module_type:
