= turbo_frame_tag dom_id(pipeline, "file_browsers") do
  .row#file-browsers
    .col-6
      = render "/accordion", id: generate_id, title: t("inputs", name: pipeline.name, fileable: "pipeline") do
        = turbo_frame_tag dom_id(pipeline, "inputs"), src: pipeline_inputs_path(pipeline.id)
    .col-6
      = render "/accordion", id: generate_id, title: t("outputs", name: pipeline.name, fileable: "pipeline") do
        = turbo_frame_tag dom_id(pipeline, "outputs"), src: pipeline_outputs_path(pipeline.id)
    - if pipeline.runnable.class == Patient
      .col_6
        = render "/accordion", id: generate_id, title: t("inputs", name: pipeline.runnable.case_number, fileable: "patient") do
          = turbo_frame_tag dom_id(pipeline.runnable, "inputs"), src: patient_files_path(pipeline.runnable.id)

