.card.my-3
  = simple_form_for pipeline do |form|
    .card-header.d-flex.justify-content-between.align-items-center.py-2
      %h2= form.label :notes
    .notes.form-control
      = form.rich_text_area :notes
      .py-2
        = form.submit "Update notes", class: "btn btn-sm btn-primary"