=turbo_stream_from dom_id(pipeline, "show")
= render "runnables/pipelines/pipeline_header", runnable:, pipeline:
= yield

= render "pipelines/file_browsers", pipeline:, runnable:

- if policy(pipeline).edit?
  = render('pipelines/form', pipeline:)

