.card
  .card-header
    %h2
      = t ".title"
  .card-body
    = simple_form_for [@patient, @pipeline] do |f|
      = f.input :name

      .ln_solid
      .col-md-6.col-md-offset-3
        = f.button :submit, class: "btn btn-success"
