%h4 Parameters
%ul.list-unstyled
  - @parameters.each do |parameter|
    %li{ title: parameter.hint.present? ? "Hint: #{parameter.hint}" : nil }
      %span.badge.bg-info= parameter.model_name.human
      = parameter.name
      (script snippet <code>{% value_of #{parameter.key} %}</code>)
