= render "cohorts/patients/layout", patient:, order: :reverse do
  - unless uploading
    = button_to cohort_patient_path(@cohort, patient), method: :delete,
      class: "btn btn-danger" do
      %i.fas.fa-minus.d-xl-none
      %span.d-none.d-xl-inline
        = I18n.t('cohorts.patients.remove')
