.card
  .row.g-0
    .col-7
      .card-body.m-5.text-center
        %h1.card-title= t ".title"
        %h2.card-title= t ".subtitle"
        = link_to new_patient_path,
          class: "btn btn-success btn-lg my-3" do
          %i.fas.fa-plus
          = t ".new"
        %p.card-text.mt-5= t ".description_html"
    .col-5
      = image_tag("patients.svg", class: "card-img p-5")
