%h1= t ".title"

.card
  .card-header= t ".subtitle"
  .card-body
    = simple_form_for(@patient) do |f|
      = f.input :case_number, autofocus: true

      .ln_solid
      .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
        = f.button :submit, t("register"), class: "btn btn-success"
        = link_to t("cancel"), patients_path, class: "btn btn-secondary"
