= render "runnables/patient_header", runnable: @patient

= render("runnables/show", runnable: @patient, pipelines: @pipelines)
= turbo_frame_tag dom_id(@patient, "inputs"), src: patient_files_path(@patient.id)
