%h6.sidebar-heading.d-flex.px-3.mt-4.mb-1.text-muted= t ".title"
%ul.nav.flex-column.mb-2.ms-3
  - help_items.each do |item|
    %li.nav-item
      = active_link_to item.title, help_page_path(category: item.category, file: item.file),
       class: "nav-link", title: item.description
