- index = local_assigns[:entry_counter]
.card.mb-3{ "data-dynamic-form-target": "entry" }
  .card-body
    .card-title
      .float-end
        %a{ href: "#", "data-action": "dynamic-form#remove" }
          %i.fas.fa-trash
    .card-text
      = form.simple_fields_for :config, entry, child_index: index do |f|
        = f.input :key
        = f.input :value, as: :text

