= simple_form_for([:admin, license]) do |f|
  = f.error_notification
  .row
    .col-4.pe-5
      %h2= t ".general.title"
      %p.text-muted= t ".general.description_html"
    .col-8
      = f.input :name
  %hr
  .row.mt-4
    .col-4.pe-5
      %h2= t ".validity.title"
      %p.text-muted= t ".validity.description"
    .col-8
      .row
        .col
          = f.input :starts_at, html5: true
        .col
          = f.input :ends_at, html5: true

  %hr
  .row.mt-4
    .col-4.pe-5
      %h2= t ".entries.title"
      %p.text-muted= t ".entries.description_html"
    .col-8
      .row
        .col
          = render "entries", license:, form: f

  %hr
  .row.mt-4
    .col-8.offset-4
      = link_to t("cancel"), admin_licenses_path,
        class: "btn btn-secondary"
      = f.button :submit, class: "btn btn-success"
