.card.mb-2
  .card-header
    .badge{ class: time_scope_button_class(license)}
      #{time_scope_button_text(license)}
    %span{ data: { "bs-toggle": "collapse",
    "bs-target": "#collapse-license-#{license.id}" } }
      #{license.name} (#{license.starts_at} - #{license.ends_at})
    .float-end.d-inline-flex
      - if policy(license).edit?
        = link_to edit_admin_license_path(license),
          title: t(".edit"), class: "edit me-2 pe-1 border-end" do
          %i.fas.fa-edit

      - if policy(license).destroy?
        = button_to admin_license_path(license),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash
  .card-body.collapse{ id: "collapse-license-#{license.id}" }
    %code.snippet= license.to_script
