- if @licenses.size.zero?
  = render "layouts/empty",
    scope: "admin.licenses.empty",
    action_url: new_admin_license_path,
    image: "license.svg"

- else
  %h1
    .float-start
      = t ".title"
    .float-end
      = link_to new_admin_license_path, class: "btn btn-success" do
        %i.fas.fa-plus
        = t ".add"
    .clearfix

  .card.mb-3
    .card-body
      = render @licenses
      -if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)
