= simple_form_for(computation,
  url: computation_path(computation)) do |f|
  .tab-pane.active.px-4
    = render "errors/list",
      errors: computation.errors[:script],
      title: t(".errors.script")

    - computation.form_parameters_values.each do |pv|
      = f.simple_fields_for :parameter_values, pv, child_index: pv.key do |form|
        = render "parameter_value/#{pv.model_name.element}", pv: pv, f: form

    %hr
    = f.button :submit, submit_button_text(computation),
      class: "btn btn-success mb-0"
