.card{ id: dom_id(computation, "show") }
  .card-header
    = render "computations/menu",
      pipeline: pipeline,
      computation: computation, computations: computations
  .card-body
    = render Computation::AlertComponent.new(computation:)

    .mb-4.position-relative.row
      .col
        = render Computation::DetailsComponent.new(computation: computation)
      .col
        = render Computation::ParametersValuesComponent.new(computation: computation)
    = turbo_frame_tag dom_id(computation, "actions"), src: computation_actions_path(computation)
