= simple_fields_for :pipeline do |pipeline_form|
  = pipeline_form.simple_fields_for :parameters_values do |pvs_form|
    - pipeline.computations.each do |computation|
      %h4= computation.pipeline_step
      = pvs_form.simple_fields_for computation.step.slug do |computation_form|
        - computation.form_parameters_values.each do |pv|
          = computation_form.simple_fields_for(pv.key, pv)do |pv_form|
            = render "parameter_value/#{pv.model_name.element}",
              pv:, f: pv_form
