.alert.alert-success= t("pipelines.computations_form_manual.description")
%h4= t("pipelines.computations_form_manual.steps")
%ul
  - pipeline.computations.each do |computation|
    %li= computation.pipeline_step
