.pipeline-filters
  = form_with url: "#{runnable_path(runnable)}", method: :get do |f|
    .row
      .col
        = f.text_field :name, class: "form-control col-sm-3 m-2",
          placeholder: "Name filter", id: "pipeline-name-filter",
          value: params[:name]
      .col
        = f.select :owner, Current.organization.users.map { |u| [u.name, u.id] },
          { include_blank: "Filter by owner", selected: params[:owner] },
          class: "form-select col-sm-3 m-2", id: "pipeline-owner-filter"
      .col
        = f.select :status, Pipeline.statuses,
          { include_blank: "Filter by status", selected: params[:status] },
          class: "form-select col-sm-3 m-2", id: "pipeline-status-filter"
      .col-2
        = f.submit "Filter", class: "btn btn-primary form-control col-sm-1 m-2"

