= render "runnables/pipelines/filtering", pipelines:, runnable:
- if pipes_on_page > 1 && policy(Pipeline).compare?
  = render partial: 'runnables/pipelines/tab_compare',
            locals: { pipelines:, runnable: }
- else
  = render partial: 'runnables/pipelines/tab',
            locals: { pipelines: }
