%tr.pipeline{ class: pipeline.status }
  %th.d-none.d-md-table-cell= pipeline.iid
  %th.d-none.d-md-table-cell
    %input{ value: pipeline.id, type: "checkbox", name: "pipeline_ids[]",
    "data-runnable-target": "checkbox",
    "data-action": "runnable#countSelectedPipelines" }
  %th
    = link_to pipeline do
      = pipeline_title(pipeline)
  %th.d-none.d-md-table-cell
    = pipeline.owner_name
  %th
    = render(Pipeline::StatusComponent.new(pipeline:))
  %th
    .d-inline-flex
      - if policy(pipeline).edit?
        = link_to edit_pipeline_path(pipeline),
          class: "btn btn-sm btn-secondary" do
          %span.d-none.d-md-table-cell Edit pipeline
          %i.far.fa-edit.d-md-none.d-table-cell

      - if policy(pipeline).destroy?
        = link_to  pipeline_path(pipeline),
          class: "btn btn-sm btn-danger", data: { "turbo-confirm": t("are_you_sure"), "turbo-method": :delete } do
          %span.d-none.d-md-table-cell Remove pipeline
          %i.fas.fa-trash.d-md-none.d-table-cell

