%tr.pipeline{ class: pipeline.status }
  %th.d-none.d-md-table-cell= pipeline.iid
  %th
    = link_to pipeline do
      = pipeline_title(pipeline)
  %th.d-none.d-md-table-cell
    = pipeline.owner_name
  %th
    = render(Pipeline::StatusComponent.new(pipeline:))
  %th
    .d-inline-flex.border-0
      - if policy(pipeline).edit?
        = link_to edit_pipeline_path(pipeline),
        class: "btn btn-sm btn-secondary" do
          %span.d-none.d-md-table-cell=I18n.t("pipelines.show.edit")
          %i.far.fa-edit.d-md-none.d-table-cell
      - if policy(pipeline).destroy?
        = button_to pipeline_path(pipeline),
          method: :delete,
          class: "btn btn-sm btn-danger", form: { "data-turbo-confirm": t("are_you_sure") } do
          %span.d-none.d-md-table-cell=I18n.t("pipelines.show.delete")
          %i.fas.fa-trash.d-md-none.d-table-cell
