%table.table
  %thead
    %tr
      %th.d-none.d-md-table-cell.iid= t('.id')
      %th= t('.name')
      %th.d-none.d-md-table-cell= t('.user')
      %th= t('.status')
      %th= t('.actions')
  %tbody
    = render partial: 'runnables/pipelines/pipeline',
             collection: pipelines
