.card.danger{ "data-controller" => "toggler", "data-toggler-toggle-class" => "collapse"  }
  .card-header.p-2
    .btn.btn-link.text-danger
      %h2.mb-0{ "data-action" => "click->toggler#toggle" }
        = t ".header"
  .card-body.collapse{ "data-toggler-target" => "toggle" }
    .row
      .col-8.offset-4
        %h6.card-title{ "data-action" => "click->toggler#toggle" }
          = t ".title"
        .col-md-10.p-0
          = t ".text"
        .float-start
          = button_to t(".submit_button"), admin_organization_path,
            form: { "data-turbo-confirm": t(".confirmation") },
            class: "btn btn-danger", method: :delete
