= render "cohorts/cohort_header"

.card.mb-3
  .card-header
    = render "cohorts/tab_header"

  .card-body
    - if @cohort.campaigns.empty?
      = render "cohorts/campaigns/empty"
    - else
      = render @cohort.campaigns


