.card.my-3
  .card-body.d-flex.justify-content-between.align-items-center.py-2
    %h2.card-title
      = link_to steps_path do
        %i.fa.fa-code
        \/
      = link_to step_path(step) do
        = step.slug
    %span.d-inline-flex
      - if policy(step).edit?
        = link_to "Edit step", edit_step_path(step),
          class: "btn btn-sm btn-secondary"
      - if policy(step).destroy?
        = button_to "Remove step", step_path(step),
          method: :delete, class: "btn btn-sm btn-danger",
          form: { "data-turbo-confirm": t("are_you_sure") }
