= turbo_stream_from step
.card.mb-2
  .card-header{:class => ("alert-danger" unless step_valid?(step))}
    %span
      .badge.bg-info #{step.resource_type.name.upcase}
      .badge.bg-info #{step.site.name.upcase}
    = link_to step do
      - if step_valid?(step)
        #{step.name} (<code>#{step.slug}</code>)
      - else
        %i.fa.fa-exclamation-triangle{ title: t(".problem") }
        #{step.name} (#{step.slug})
    #{step.user&.name}
    .float-end.d-inline-flex
      - if policy(step).edit?
        = link_to edit_step_path(step),
          title: t(".edit"), class: "edit me-2 pe-2 border-end" do
          %i.fas.fa-edit
      - if policy(step).destroy?
        = button_to step_path(step),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash

