
= turbo_stream_from @step
= render "header", step: @step
.card.p-4
  %h1
    = @step.name
  = render(Step::GitComponent.new(step: @step))
  = render(Step::InputsComponent.new(step: @step))
  = render(Step::ParametersComponent.new(step: @step))
  %h4 Description
  .card.p-4
    = @step.description
