= turbo_frame_tag @campaign, "files" do
  .card.mt-2.mb-5.accordion
    %button.accordion-button.collapsed.card-header{
      "aria-controls": "outputFiles#{@campaign.id}",
      "aria-expanded": "false",
      "data-bs-target": "#outputFiles#{@campaign.id}",
      "data-bs-toggle": "collapse", type: "button" }
      %h6.m-0
        = t("campaigns.view.output_files.title")
    %div.scrollable-table{class: "collapse", id: "outputFiles#{@campaign.id}"}
      .card-body
        - if @campaign.pipelines.size.zero?
          %h6.ms-5.mt-2
            = t("campaigns.view.output_files.patient.no_output_files")
        - else
          .mt-3
          - @campaign.pipelines.each do |pipeline|
            .ms-2.me-2
              = render "/accordion", id: generate_id, title: t("outputs", name: pipeline.name, fileable: "pipeline") do
                = turbo_frame_tag dom_id(pipeline, "outputs"), src: pipeline_outputs_path(pipeline.id)
