- if show_progress_bar?(campaign)
  .card.mt-2
    .card-header
      .h3.flex
        = I18n.t("campaigns.computation_progress")

    .card-body
      = render CampaignProgressBar.new(campaign:, verbose: true)
