- cohort = campaign.cohort || NullCohort.new

= turbo_stream_from campaign
= turbo_frame_tag campaign, "summary" do
  .card.mb-2
    .card-header
      .float-start.w-100
        .row
          .col
            = link_to campaign_path(campaign),
             data: {"turbo-frame": "_top", "turbo-action": "advance"}, class: "btn btn-link text-decoration-none text-secondary p-0 m-0" do
              .row
                .col
                  %i.fas.fa-server
                  = campaign.name
          .col.d-none.d-md-block
            #{t 'campaigns.campaign_row.cohort'}: <strong>#{cohort.name}</strong>,
            #{t 'campaigns.campaign_row.pipelines'}: <strong>#{campaign.pipelines.count}</strong>
          = render "campaigns/status", campaign:
          .col{id: "progress_bar_campaign_#{campaign.id}"}
            - if show_progress_bar?(campaign)
              = render CampaignProgressBar.new(campaign:)
          .col
            .float-end
              - if policy(campaign).destroy?
                = button_to campaign_path(campaign), method: :delete,
                form: { data: {"turbo-confirm": t("campaigns.delete.warning") } }, title: t("campaigns.delete.title"),
                class: "btn btn-sm btn-link delete p-0 m-0" do
                  %i.fa.fa-trash
