= turbo_frame_tag "campaigns" do
  - if @campaigns.empty?
    = render "campaigns/empty"
  - else
    %h1
      .float-start
        = t "cohorts.show.campaigns.title"
      - if policy(Campaign).new?
        .float-end
          = link_to new_campaign_path, class: "btn btn-success", data: {"turbo-action": "advance"} do
            %i.fas.fa-plus
            = t "campaigns.index.add"
    .clearfix
    = render @campaigns
