= turbo_frame_tag "campaigns" do
  .card
    .card-header
      %h1= t "campaigns.create.title"
    .card-body
      .card
        .card-header= t "campaigns.create.subtitle"
        .card-body
          = simple_form_for @campaign,
          data: { controller: "dynamic-view loader-button", "dynamic-view-url-value": flow_pipeline_parameters_path(":flow_id"), "turbo_frame": "_top" } do |f|
            = f.input :name, class: "form-control", required: true
            = f.input :cohort_id, collection: @cohorts, selected: @campaign.cohort_id || Cohort.first&.id, required: true, prompt: ''
            = f.input :flow, selected: @campaign.pipeline_template.flow&.id,
            input_html: { class: "form-control", data: { action: "change->dynamic-view#load change->loader-button#load", "dynamic-view-target": "input" },
            id: "pipeline[flow_id]", name: "pipeline[flow_id]" }, collection: @flows, required: true, prompt: ''

            %h2.mt-5
            = I18n.t("campaigns.create.pipeline_steps")
            %hr

            %template{ data: { "dynamic-view-target": "loader" } }
              .d-flex.justify-content-center.align-items-center
                .spinner-border.me-2{ role: "status" }
                = t("pipelines.pipeline_steps_form.loading")
            - if @campaign.pipeline_template.errors.any?
              %p.text-sm-left.alert.alert-danger
                = I18n.t("campaigns.errors.steps_attributes")

            = turbo_frame_tag @campaign.pipeline_template, "stepsConfig", data: { "dynamic-view-target": "frame", "loader-button-target": "frame" } do
              = render "runnables/pipelines/computations_form_automatic", pipeline: @campaign.pipeline_template

            .ln_solid
            .col-md-6.col-md-offset-3
              = f.submit t("campaigns.create.submit"), class: "btn btn-success", data: { "loader-button-target": "submit" }
              = link_to t("cancel"), campaigns_path, class: "btn btn-secondary"
