@import 'bootstrap/scss/bootstrap';
@import 'choices.js/src/styles/choices';
@import 'lib/diffview';
@import 'lib/gentelella';

@import 'variables';

@import 'mixins';
@import 'common';
@import 'logo';
@import 'card';
@import 'patients';
@import 'pipelines';
@import 'flow';
@import 'choices';
@import 'status_component';
@import 'animations';

@import 'sidebar';

@import 'home';
@import 'customization';
@import "actiontext";
@import "dropzone";

.flash-container {
  text-align: center;
  animation: appear-then-fade 3s both;
}

table.users th, table.users td {
  width: 25%;
}

.new-icon, .new-icon:hover {
  color: green;
}

.form-group span.radio {
  display: inline-block;
}

form#new_acccess_policy span.label {
  display: inline-block;
}

.fa-white {
  color: white;
}

table.access_policies th, table.access_policies td {
  width: 50%;
}

.has-error .control-label, .has-error .radio, .card-body, .card, .accordion-button {
  color: #73879C;
}

.has-error .form-control {
  background: #FAEDEC;
  border: 1px solid #E85445;
}

.scrollable-table{
  max-height: 25rem;
  overflow: auto;
}
