.sidebar {
  background: $card-cap-bg;
  bottom: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.03);
  left: 0;
  padding: 48px 15px 0;
  position: fixed;
  top: 0;
  z-index: 100;

  .nav-link {
    color: #5A738E;
    font-weight: 500;

    &.active {
      background: #f8f9fa;
      border-radius: 10px;
    }
  }

}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: .5rem;
  position: relative;
  top: 0;
}

@media (max-width: 768px) {
  .sidebar {
    background: rgb(255,255,255);
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
