.accordion.card.mb-3{id:}
  .accordion-item
    .card-header.d-flex.justify-content-between.align-items-center.py-2.accordion-header
      %button.accordion-button.justify.aaa-background{
        class: "collapsed",
        "aria-controls" => "#{id}_accordion",
        "data-bs-toggle" => "collapse",
        "data-bs-target" => "##{id}_accordion"
      }
        =title
    .accordion-collapse.collapse.scrollable-table{"id": "#{id}_accordion", "data-bs-parent": "#accordion" }
      .accordion-body.card-body
        = yield
