= turbo_frame_tag artifact do
  .card.mb-2
    .card-header
      = link_to artifact.filename, url_for(artifact)
      .float-end.d-inline-flex
        = link_to edit_artifact_path(artifact),
          title: t(".edit"),
          class: "edit me-2 pe-2 border-end" do
          %i.fas.fa-edit
        = button_to file_path(artifact),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash
