%div{ "data-controller": "switch",  "data-switch-url-pattern-value": "#{data_repository_config_url}&enable=${value}" }
  .row.mt-4
    .col-4.pe-5
      %h2= t "organizations.form.data_repository.title"
    .col-8
      .form-group
        %label.form-check-label{ for: "enable_data_repository_config" }
        = check_box_tag "data_repository_config_checkbox", 0, data_repository_config,
                    "data-switch-target": "changeSource",
                    "data-action": "switch#change"
        Enable data repository integration

  %div{ "data-switch-target": "body" }
    - if data_repository_config
      = render "data_repository_config/form",
        data_repository_config: data_repository_config, data_repository_config_url: data_repository_config_url,
        module_type: module_type, data_repository_types: data_repository_types
    - else
      = render "data_repository_config/default"

