= simple_fields_for "#{module_type}[data_repository_config_attributes]", data_repository_config do |f|
  .row.mt-4
    .col-4.pe-5
      %p.text-muted
        = t "organizations.form.data_repository.description"
        = link_to t("organizations.form.data_repository.manual_link"), help_page_path("manual", "data_repository"), class: "btn-link"
    .col-8
      = f.input :type,
            collection: data_repository_types,
            label: "Data Repository Type",
            include_blank: false,
            error: true
      = f.input :url,
            label: "Data Repository Instance URL"