.row.mt-5
  .col-10.offset-1
    .card
      .row.g-0
        .col-7
          .card-body.m-5.text-center
            %h1.card-title= t "title", scope: scope
            %h2.card-title= t "subtitle", scope: scope

            = link_to action_url,
              class: "btn btn-lg btn-success my-3" do
              %i.fas.fa-plus
              = t "action", scope: scope

            %p.card-text.mt-5
              = t "description_html", scope: scope
        .col-5
          = image_tag(image, class: "card-img p-5")
