%footer
  .copyright-info
    %i.fas.fa-heartbeat
    = t('title')
    = t('by')
    %a{ href: 'http://dice.cyfronet.pl', target: "_blank" }= t('dice')
    %br
    = t('version')
    = Mee::VERSION
    %small= Mee::REVISION
