- id = local_assigns[:id] || parameter.id
.card.mb-2{ "data-dynamic-form-target": "entry" }
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %span= t(".#{parameter.type_name}.title")
    - unless parameter.protected?
      %div
        %a.delete{ href: "#", "data-action": "dynamic-form#remove" }
          %i.fas.fa-trash

  .card-body
    = form.simple_fields_for :parameters, parameter, child_index: "p#{id}" do |f|
      - unless parameter.protected? || parameter.new_record?
        = f.hidden_field :_destroy
      - if parameter.persisted?
        = f.hidden_field :id, value: parameter.id
      - else
        = f.hidden_field :type, value: parameter.class.model_name.element
      .row
        .col
          = f.input :name
        .col
          = f.input :key, disabled: parameter.protected?
      .row
        .col
          = f.input :hint
      %hr
      = render "parameters/details/#{parameter.type_name}",
        parameter:, form: f
