.scrollable-table
  %table.table
    %thead
      %tr
        %th
          =t("campaigns.view.table.patients.name")
        %th
          =link_to t("campaigns.view.table.patients.status"), campaign_path(@campaign)
    %tbody{id: dom_id(@campaign, "patients")}
      -@pipelines.each do |pipeline|
        = render "campaigns/patient_table/pipeline_row", { pipeline: }
