%tr{id: dom_id(pipeline.runnable)}
  %td
    = turbo_frame_tag(pipeline.runnable, target: "_top") do
      = link_to pipeline.runnable.case_number, patient_path(pipeline.runnable.slug)
  %td.pipeline{class: pipeline.status}
    = turbo_frame_tag(pipeline.computations.first, target: "_top") do
      = render Pipeline::StatusComponent.new(pipeline: )